@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}
#container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
#container-left{
    display:flex;
    flex-direction: column;
    background-color: #FFF;
    width: 30%;
    
}
#container-right{
    background-image: url("./images/wallpaper.jpg");
    background-position: center;
    background-size: cover;
    width: 70%;
}
#container-logo{
    text-align: center;
    align-items: center;
}
#logo{
    margin-top: 20px;
    width: 30%;

}
#login-container{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;

}
.input{
    background-color: rgb(229, 225, 225);
    border:none;
    border-radius: 5px;
    margin-top: 30px;
    width: 60%;
    padding: 20px;
    
}
#apps-login{
    width: 100%;
    height: 5%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
}
.apps-button{
    border:none;
    border-radius: 5px;
    width: 20%;
    height: 70%;
    margin: 3px;
}
.image-button{
    height: 80%;
}
.apple{
    background-color: black;
}
.facebook{
    background-color:rgb(31, 56, 224);
}
.google{
    background-color: rgb(204, 212, 218);
}
#checkbox{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:10px ;
}
#maintain-button{
    appearance: none;
    margin-left: 20%;
    background-color: rgb(229, 225, 225);
    width: 20px;
    height: 20px;
    border:none;
    border-radius: 5px;
}
#maintain-login{
    display: flex;
    margin-left: 20%;
}
/* text from checkbox */
.maintain-label{ 
    margin-left: 5px;
    margin-bottom: 1px;
}

#enter-container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 100%;
    height: 30%;
}
.enter-button{
    color: rgb(184, 182, 182);
    background-color: #e8e4e4;
    margin-bottom: 60px;
    height: 20%;
    width: 10%;
    border:none;
    border-radius: 30%;
}
.enter-button:hover{
    background-color: #CF3C3F;
}
#ending-text{
    margin-top: 50px;
    color:#A7A7A7;
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
#ending-text1{
    margin-top:5px;
    color:#A7A7A7;
    font-weight: bold;
    font-size: small;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1400px) {
    #container-left{
        width: 40%;
    }
    #container-right{
        width: 60%;
        background-position: 85% 0%;
    }
  }
  @media only screen and (max-width: 1200px) {
    #container-left{
        width: 50%;
    }
    #container-right{
        width: 50%;
        background-position: 75% 0%;
    }
  }
  @media only screen and (max-width: 1000px) {
    #container-left{
        width: 60%;

    }
    #container-right{
        width: 40%;
        background-position: 75% 0%;
        background-size: cover;
    }
  }
  @media only screen and (max-width: 750px) {
    #container-left{
        width: 100%;
 
    }
    #container-right{
        width: 0%;
        background-position: center;
        background-size: cover;
    }
  }